<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title>About</title>
</head>

  <body>
    <div class="container mb-5">
      <div class="jumbotron">
        <h1 class="display-4">About me</h1>
      </div>

      <nav class="navbar navbar-expand-lg navbar-light bg-light my-4">
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/crochet">Crochet pattern editor</a>
            <a class="nav-item nav-link" href="/knit">Knit pattern editor</a>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                 href="/chart"
                 id="navbarDropdown"
                 role="button"
                 data-toggle="dropdown"
                 aria-haspopup="true"
                 aria-expanded="false">Symbols legend</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/chart/crochet">Crochet</a>
                <a class="dropdown-item" href="/chart/knit">Knit</a>
              </div>
            </div>
            <a class="nav-item nav-link active" href="#">About</a>
          </div>
        </div>
      </nav>

      <div class="row mb-5">
        <div class="col"></div>
        <div class="col-9">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">Site junk</h1>
              <p class="card-text">This site was built using <a href="https://nodejs.org/en/" target="_blank">Node.js</a>.</p>
              <p class="card-text">Styling components are Twitter's <a href="https://getbootstrap.com" target="_blank">Bootstrap</a> if y'all hadn't guessed. ;) With the default theme no less because I have no imagination, hah</p>
              <p class="card-text">It's super simple and only incorporates the <a href="https://expressjs.com/" target="_blank">Express</a> framework and can conceivably run on pretty much anything.</p>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>

      <div class="row mb-5">
        <div class="col"></div>
        <div class="col-9">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">Me</h1>
              <p class="card-text">There's not much to say about myself other than I willingly identify as any pejorative you would have to describe someone who knows a little too much about nothing.</p>
              <p class="card-text">I'm in to lots of clich&eacute; tech things. I'm a filthy casual that likes watching (a little too much) other people way more skilled at button mashing than myself on Twitch.</p>
              <h3 class="card-text">I'm also a really big fan of yarn work!!</h3>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col-9">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">Got something to say?</h1>
              <form method="post">
                <div class="form-group">
                  <label for="textarea1">Name</label>
                  <textarea name="name"
                            class="form-control"
                            id="textarea1"
                            rows="1"
                            placeholder="A Name"
                            oninvalid="this.setCustomValidity('Let me know your first name')"
                            oninput="setCustomValidity('')"
                            required></textarea>
                </div>
                <div class="form-group">
                  <label for="input1">Email address</label>
                  <input name="email"
                         type="email"
                         class="form-control"
                         id="input1"
                         placeholder="name@example.com"
                         required></input>
                </div>
                <div class="form-group">
                  <label for="textarea2">Subject</label>
                  <textarea name="subject"
                            class="form-control"
                            id="textarea2"
                            rows="1"
                            placeholder="Howdy!"
                            oninvalid="this.setCustomValidity('What\'s on your mind?')"
                            oninput="setCustomValidity('')"
                            required></textarea>
                </div>
                <div class="form-group">
                  <label for="textarea3">Message</label>
                  <textarea name="message"
                            class="form-control"
                            id="textarea3"
                            rows="3"
                            placeholder="Your site is handy!"
                            oninvalid="this.setCustomValidity('A little more detail is required.')"
                            oninput="setCustomValidity('')"
                            required></textarea>
                </div>
                <button type="submit" class="btn btn-default">Send me an email!</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>

</html>
