<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title>Symbols legend</title>
</head>

  <body>
    <div class="container mb-5">
      <div class="jumbotron">
        <h1 class="display-4">CSS chart symbols</h1>
        <p class="lead">Craft yarn council standard chart symbols</p>
        <hr class="my-4">
        <p>Adapted from <a href="https://www.craftyarncouncil.com/standards" target="_blank">https://www.craftyarncouncil.com/standards</a></p>
      </div>

      <nav class="navbar navbar-expand-lg navbar-light bg-light my-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/crochet">Crochet pattern editor</a>
            <a class="nav-item nav-link" href="/knit">Knit pattern editor</a>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active"
                 href="#"
                 id="navbarDropdown"
                 role="button"
                 data-toggle="dropdown"
                 aria-haspopup="true"
                 aria-expanded="false">Symbols legend</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/chart/crochet">Crochet</a>
                <a class="dropdown-item" href="/chart/knit">Knit</a>
              </div>
            </div>
            <a class="nav-item nav-link" href="/about">About</a>
          </div>
        </div>
      </nav>

      <div class="row">
        <div class="col"></div>
        <div class="col-3">
          <a class="btn btn-outline-info btn-block" href="/chart/knit" role="button">Knit</a>
        </div>
        <div class="col"></div>
        <div class="col-3">
          <a class="btn btn-outline-info btn-block" href="/chart/crochet" role="button">Crochet</a>
        </div>
        <div class="col"></div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>

</html>
