<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/crochet-chart.css">

    <title>Crochet symbols legend</title>
</head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">CSS crochet chart symbols</h1>
        <p class="lead">Craft yarn council standard crochet chart symbols</p>
        <hr class="my-4">
        <p>Adapted from <a href="https://www.craftyarncouncil.com/standards/crochet-chart-symbols" target="_blank">https://www.craftyarncouncil.com/standards/crochet-chart-symbols</a></p>
      </div>

      <nav class="navbar navbar-expand-lg navbar-light bg-light my-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/crochet">Crochet pattern editor</a>
            <a class="nav-item nav-link active" href="#">Knit pattern editor</a>
            <a class="nav-item nav-link" href="#">Crochet symbols legend</a>
            <a class="nav-item nav-link" href="/about">About</a>
          </div>
        </div>
      </nav>

      <div class="row">
        <div class="col"></div>
        <div class="col-6">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Stitch</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><div class="box knit"></div></td>
                <td>K on RS, P on WS</td>
              </tr>
              <tr>
                <td><div class="box purl"></div></td>
                <td>P on RS, K on WS</td>
              </tr>
              <tr>
                <td><div class="box yo"></div></td>
                <td>Yarn Over</td>
              </tr>
              <tr>
                <td><div class="box k2tog"></div></td>
                <td>K2tog on RS, P2tog on WS</td>
              </tr>
              <tr>
                <td><div class="box p2tog"></div></td>
                <td>P2tog on RS, K2tog on WS</td>
              </tr>
              <tr>
                <td><div class="box ssk"></div></td>
                <td>SSK on RS, SSP on WS</td>
              </tr>
              <tr>
                <td><div class="box ssp"></div></td>
                <td>SSP on RS, SSK on WS</td>
              </tr>
              <tr>
                <td><div class="box k1fb"></div></td>
                <td>K1fb on RS, P1fb on WS</td>
              </tr>
              <tr>
                <td><div class="box mkk"></div></td>
                <td>Make 1 (M1) knitwise on RS, Make 1 (M1) purlwise on WS</td>
              </tr>
              <tr>
                <td><div class="box mpp"></div></td>
                <td>Make 1 (M1) purlwise on RS, Make 1 (M1) knitwise on WS</td>
              </tr>
              <tr>
                <td><div class="box rsm"></div></td>
                <td>Right-slanting Make 1</td>
              </tr>
              <tr>
                <td><div class="box lsm"></div></td>
                <td>Left-slanting Make 1</td>
              </tr>
              <tr>
                <td><div class="box rsli"></div></td>
                <td>Right-slanting lifted inc</td>
              </tr>
              <tr>
                <td><div class="box lsli"></div></td>
                <td>Left-slanting lifted inc</td>
              </tr>
              <tr>
                <td><div class="box slpwyb"></div></td>
                <td>Sl 1 purlwise wyb on RS, Sl 1 purlwise wyf on WS</td>
              </tr>
              <tr>
                <td><div class="box slpwyf"><i></i></div></td>
                <td>Sl 1 purlwise wyf on RS, Sl 1 purlwise wyb on WS</td>
              </tr>
              <tr>
                <td><div class="box k3tog"><i></i></div></td>
                <td>K3tog on RS, P3tog on WS</td>
              </tr>
              <tr>
                <td><div class="box p3tog"><i></i></div></td>
                <td>P3tog on RS, K3tog on WS</td>
              </tr>
              <tr>
                <td><div class="box sk2p"><i></i></div></td>
                <td>SK2P on RS, SSSK on RS, SSSP on WS</td>
              </tr>
              <tr>
                <td><div class="box sssp"><i></i></div></td>
                <td>SSSP on RS, SSSK on WS</td>
              </tr>
              <tr>
                <td><div class="box s2kp2"></div></td>
                <td>S2KP2 on RS, SSPP2 on WS</td>
              </tr>
              <tr>
                <td><div class="box k1tbl"></div></td>
                <td>K1 tbl on RS, P1 tbl on WS</td>
              </tr>
              <tr>
                <td><div class="box p1tbl"><i></i></div></td>
                <td>P1 tbl on RS, K1 tbl on WS</td>
              </tr>
              <tr>
                <td><div class="box bobble"></div></td>
                <td>Bobble</td>
              </tr>
              <tr>
                <td><div class="box nost"></div></td>
                <td>Sts do not exist in these areas of chart</td>
              </tr>
              <tr>
                <td><div class="box inc1to3"></div></td>
                <td>Inc 1-to-3</td>
              </tr>
              <tr>
                <td><div class="box inc1to4"></div></td>
                <td>Inc 1-to-4</td>
              </tr>
              <tr>
                <td><div class="box inc1to5"></div></td>
                <td>Inc 1-to-5</td>
              </tr>
              <tr>
                <td><div class="box dec4to1rs"></div></td>
                <td>Dec 4-to-1 (right slanting)</td>
              </tr>
              <tr>
                <td><div class="box dec4to1ls"></div></td>
                <td>Dec 4-to-1 (left slanting)</td>
              </tr>
              <tr>
                <td><div class="box dec4to1cen"></div></td>
                <td>Dec 4-to-1 (centered)</td>
              </tr>
              <tr>
                <td><div class="box dec5to1"></div></td>
                <td>Dec 5-to-1</td>
              </tr>
              <tr>
                <td><div class="box k1yo2"></div></td>
                <td>K1, wrapping yarn twice around needle</td>
              </tr>
              <tr>
                <td><div class="box bindo"></div></td>
                <td>Bind off</td>
              </tr>
              <tr>
                <td><div class="box strn"></div></td>
                <td>St rem on right needle after last BO st</td>
              </tr>
              <tr>
                <td><div class="box caston"></div></td>
                <td>Cast on</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col"></div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>

</html>
