<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/crochet-chart.css">

    <title>Crochet symbols legend</title>
</head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">CSS crochet chart symbols</h1>
        <p class="lead">Craft yarn council standard crochet chart symbols</p>
        <hr class="my-4">
        <p>Adapted from <a href="https://www.craftyarncouncil.com/standards/crochet-chart-symbols" target="_blank">https://www.craftyarncouncil.com/standards/crochet-chart-symbols</a></p>
      </div>

      <nav class="navbar navbar-expand-lg navbar-light bg-light my-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/crochet">Crochet pattern editor</a>
            <a class="nav-item nav-link" href="/knit">Knit pattern editor</a>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active"
                 href="/chart"
                 id="navbarDropdown"
                 role="button"
                 data-toggle="dropdown"
                 aria-haspopup="true"
                 aria-expanded="false">Symbols legend</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item active" href="#">Crochet</a>
                <a class="dropdown-item" href="/chart/knit">Knit</a>
              </div>
            </div>
            <a class="nav-item nav-link" href="/about">About</a>
          </div>
        </div>
      </nav>

      <div class="row mb-5">
        <div class="col"></div>
        <div class="col-6">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Stitch</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><div class="box ch"></div></td>
                <td>Chain (ch)</td>
              </tr>
              <tr>
                <td><div class="box slst"></div></td>
                <td>Slip stitch (sl st)</td>
              </tr>
              <tr>
                <td><div class="box sc"></div></td>
                <td>Single crochet (sc)</td>
              </tr>
              <tr>
                <td><div class="box hdc"></div></td>
                <td>Half double crochet (hdc)</td>
              </tr>
              <tr>
                <td><div class="box hdc dc"><i></i></div></td>
                <td>Double crochet (dc)</td>
              </tr>
              <tr>
                <td><div class="box hdc tr"><i></i></div></td>
                <td>Treble crochet (tr)</td>
              </tr>
              <tr>
                <td><div class="box hdc tr dtr"><i></i><b></b></div></td>
                <td>Double treble crochet (dtr)</td>
              </tr>
              <tr>
                <td><div class="box sc2tog"><i></i></div></td>
                <td>sc2tog</td>
              </tr>
              <tr>
                <td><div class="box sc2tog sc3tog"><i></i><b></b></div></td>
                <td>sc3tog</td>
              </tr>
              <tr>
                <td><div class="box sc2tog dc2tog"><i></i><b></b></div></td>
                <td>dc2tog</td>
              </tr>
              <tr>
                <td><div class="box sc2tog dc2tog dc3tog"><i></i><b></b><u></u></div></td>
                <td>dc3tog</td>
              </tr>
              <tr>
                <td><div class="box tdccluster"><i></i><b></b><u></u></div></td>
                <td>3-dc cluster</td>
              </tr>
              <tr>
                <td><div class="box tdccluster thdccluster"><i></i></div></td>
                <td>3-hdc cluster/puff st/bobble</td>
              </tr>
              <tr>
                <td><div class="box fdcpop"><i></i><b></b><u></u><del></del><ins></ins></div></td>
                <td>5-dc popcorn</td>
              </tr>
              <tr>
                <td><div class="box ch3picot"></div></td>
                <td>ch-3 picot</td>
              </tr>
              <tr>
                <td><div class="box fpdc"><i></i></div></td>
                <td>front post dc (FPdc)</td>
              </tr>
              <tr>
                <td><div class="box bpdc"><i></i></div></td>
                <td>back post dc (BPdc)</td>
              </tr>
              <tr>
                <td><div class="box blo"><i></i></div></td>
                <td>worked in back loop only*</td>
              </tr>
              <tr>
                <td><div class="box flo"><i></i></div></td>
                <td>worked in front loop only*</td>
              </tr>
            </tbody>
          </table>
          <div>*Symbol appears at base of stitch being worked</div>
        </div>
        <div class="col"></div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>

</html>
