<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/knit-chart.css">

    <title>Make your knit pattern!</title>
</head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-3 text-center">
          <div>Pattern is knit:</div>
          <label class="radio-inline"><input type="radio" name="optradio">Flat</label>
          <label class="radio-inline"><input type="radio" name="optradio">In Round</label>
          <div></div>
          <button type="button" class="mb-2 btn btn-success">Add Row</button>
          <div></div>
          <button type="button" class="mb-2 btn btn-danger">Remove Row</button>
          <div class="box knit"></div>
          <div class="box purl"></div>
          <div class="box yo"></div>
          <div class="box k2tog"></div>
          <div class="box p2tog"></div>
          <div class="box ssk"></div>
          <div class="box ssp"></div>
          <div class="box k1fb"></div>
          <div class="box mkk"></div>
          <div class="box mpp"></div>
          <div class="box rsm"></div>
          <div class="box lsm"></div>
          <div class="box rsli"></div>
          <div class="box lsli"></div>
          <div class="box slpwyb"></div>
          <div class="box slpwyf"><i></i></div>
          <div class="box k3tog"><i></i></div>
          <div class="box p3tog"><i></i></div>
          <div class="box sk2p"><i></i></div>
          <div class="box sssp"><i></i></div>
          <div class="box s2kp2"></div>
          <div class="box k1tbl"></div>
          <div class="box p1tbl"><i></i></div>
          <div class="box bobble"></div>
          <div class="box nost"></div>
          <div class="box inc1to3"></div>
          <div class="box inc1to4"></div>
          <div class="box inc1to5"></div>
          <div class="box dec4to1rs"></div>
          <div class="box dec4to1ls"></div>
          <div class="box dec4to1cen"></div>
          <div class="box dec5to1"></div>
          <div class="box k1yo2"></div>
          <div class="box bindo"></div>
          <div class="box strn"></div>
          <div class="box caston"></div>
          <div></div>
          <button type="button" class="mt-2 btn btn-primary">Print pattern</button>
        </div>
        <div class="col">
          <div class="container">
            <div class="row">
              <div class="col-2">Row 1</div>
              <div class="col form-inline">
                <div class="box knit"></div>
                <div class="box knit"></div>
                <div class="box knit"></div>
                <div class="box knit"></div>
                <div class="box knit"></div>
                <div class="box knit"></div>
                <div class="box knit"></div>
                <div class="box knit"></div>
                <div class="box knit"></div>
                <div class="box knit"></div>
                <div class="box knit"></div>
                <div class="box knit"></div>
                <div class="box knit"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-2">Row 2</div>
              <div class="col form-inline">
                <div class="box knit"></div>
                <div class="box knit"></div>
                <div class="box knit"></div>
                <div class="box knit"></div>
                <div class="box knit"></div>
                <div class="box knit"></div>
                <div class="box knit"></div>
                <div class="box knit"></div>
                <div class="box knit"></div>
                <div class="box knit"></div>
                <div class="box knit"></div>
                <div class="box knit"></div>
                <div class="box knit"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>

</html>
