<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/knit-chart.css">

    <title>Make your knit pattern!</title>
</head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col-6">
          <div class="knit"></div>
          <div class="purl"></div>
<!--          <div class="yo">yo</div>
          <div class="k2tog">k2tog</div>
          <div class="p2tog">p2tog</div>
          <div class="ssk">ssk</div>
          <div class="ssp">ssp</div>
          <div class="k1fb">k1fb</div>
          <div class="mkk">mkk</div>
          <div class="mpp">mpp</div>
          <div class="rsm">rsm</div>
          <div class="lsm">lsm</div>
          <div class="rsli">rsli</div>
          <div class="lsli">lsli</div>
          <div class="slpwyb">slpwyb</div>
          <div class="slpwyf">slpwyf</div>
          <div class="k3tog">k3tog</div>
          <div class="p3tog">p3tog</div>
          <div class="sk2p">sk2p</div>
          <div class="sssp">sssp</div>
          <div class="s2kp2">s2kp2</div>
          <div class="k1tbl">k1tbl</div>
          <div class="p1tbl">p1tbl</div>
          <div class="bobble">bobble</div>
          <div class="nost">nost</div>
          <div class="inc1to3">inc1to3</div>
          <div class="inc1to4">inc1to4</div>
          <div class="inc1to5">inc1to5</div>
          <div class="dec4to1rs">dec4to1rs</div>
          <div class="dec4to1ls">dec4to1ls</div>
          <div class="dec4to1cen">dec4to1cen</div>
          <div class="dec5to1">dec5to1</div>
          <div class="k1yo2">k1yo2</div>
          <div class="strn">strn</div>
          <div class="caston">caston</div>-->
        </div>
        <div class="col"></div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>

</html>
