<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/knit-chart.css">
    <link rel="stylesheet" href="/css/pattern-area.css">

    <title>Create your own knit pattern!</title>
</head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-2 text-center">
          <div>Pattern is knit:</div>
          <label class="radio-inline"><input type="radio" name="knit-radio">Flat</label>
          <label class="radio-inline"><input type="radio" name="knit-radio">In Round</label>
          <button type="button" class="add-row mb-2 btn btn-success">Add Row</button>
          <button type="button" class="rem-row mb-2 btn btn-danger">Remove Row</button>
<!--          <div class="box stitch"></div>
          <div class="box stitch purl"></div>
          <div class="box stitch yo"></div>
          <div class="box stitch k2tog"></div>
          <div class="box stitch p2tog"></div>
          <div class="box stitch ssk"></div>
          <div class="box stitch ssp"></div>
          <div class="box stitch k1fb"></div>
          <div class="box stitch mkk"></div>
          <div class="box stitch mpp"></div>
          <div class="box stitch rsm"></div>
          <div class="box stitch lsm"></div>
          <div class="box stitch rsli"></div>
          <div class="box stitch lsli"></div>
          <div class="box stitch slpwyb"></div>
          <div class="box stitch slpwyf"><i></i></div>
          <div class="box stitch k3tog"><i></i></div>
          <div class="box stitch p3tog"><i></i></div>
          <div class="box stitch sk2p"><i></i></div>
          <div class="box stitch sssp"><i></i></div>
          <div class="box stitch s2kp2"></div>
          <div class="box stitch k1tbl"></div>
          <div class="box stitch p1tbl"><i></i></div>
          <div class="box stitch bobble"></div>
          <div class="box stitch nost"></div>
          <div class="box stitch inc1to3"></div>
          <div class="box stitch inc1to4"></div>
          <div class="box stitch inc1to5"></div>
          <div class="box stitch dec4to1rs"></div>
          <div class="box stitch dec4to1ls"></div>
          <div class="box stitch dec4to1cen"></div>
          <div class="box stitch dec5to1"></div>
          <div class="box stitch k1yo2"></div>
          <div class="box stitch bindo"></div>
          <div class="box stitch strn"></div>
          <div class="box stitch caston"></div>-->
          <button type="button" class="mt-2 btn btn-primary">Print pattern</button>
        </div>
        <div id="pattern-area" class="col">
          <div class="row">
            <div class="col">
              <div class="container">
                  <table>
                    <tbody>
                      <tr>
                        <th>
                          <div class="row-info">Row 1</div>
                          <input class="row-spinner row-info form-control" type="number" min="0" value="20" oldValue="20" onkeydown="return false">
                        </th>
                        <td><div class="box stitch"></div></td>
                        <td><div class="box stitch"></div></td>
                        <td><div class="box stitch"></div></td>
                        <td><div class="box stitch"></div></td>
                        <td><div class="box stitch"></div></td>
                        <td><div class="box stitch"></div></td>
                        <td><div class="box stitch"></div></td>
                        <td><div class="box stitch"></div></td>
                        <td><div class="box stitch"></div></td>
                        <td><div class="box stitch"></div></td>
                        <td><div class="box stitch"></div></td>
                        <td><div class="box stitch"></div></td>
                        <td><div class="box stitch"></div></td>
                        <td><div class="box stitch"></div></td>
                        <td><div class="box stitch"></div></td>
                        <td><div class="box stitch"></div></td>
                        <td><div class="box stitch"></div></td>
                        <td><div class="box stitch"></div></td>
                        <td><div class="box stitch"></div></td>
                        <td><div class="box stitch"></div></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/pattern.js"></script>
  </body>

</html>
