.box {
  width: 30px;
  height: 30px;
  background: white;
  margin: auto;
  position: relative;
  border: solid;
  border-width: 1px;
}

.ch::before {
  content: "";
  width: 15px;
  height: 7px;
  left: 7px;
  top: 10px;
  position: absolute;
  border: solid;
  border-width: 2px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.slst::after {
  content: "";
  width: 6px;
  height: 6px;
  background: black;
  left: 11px;
  top: 11px;
  position: absolute;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.sc::before {
  content: "";
  width: 8px;
  height: 8px;
  border-top: solid 1px black;
  border-left: solid 1px black;
  left: 10px;
  top: 14px;
  position: absolute;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sc::after {
  content: "";
  width: 8px;
  height: 8px;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
  left: 10px;
  top: 4px;
  position: absolute;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hdc:before {
  content: "";
  width: 6px;
  height: 15px;
  border-top: solid 1px black;
  border-left: solid 1px black;
  left: 14px;
  top: 6px;
  position: absolute;
}

.hdc::after {
  content: "";
  width: 6px;
  height: 15px;
  border-top: solid 1px black;
  border-right: solid 1px black;
  left: 9px;
  top: 6px;
  position: absolute;
}

.box.hdc.dc i::before {
  content: "";
  width: 5px;
  height: 1px;
  left: 12px;
  top: 12px;
  position: absolute;
  background: black;
  -moz-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.box.hdc.tr i::before {
  content: "";
  width: 5px;
  height: 1px;
  left: 12px;
  top: 11px;
  position: absolute;
  background: black;
  -moz-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.box.hdc.tr i::after {
  content: "";
  width: 5px;
  height: 1px;
  left: 12px;
  top: 14px;
  position: absolute;
  background: black;
  -moz-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.box.hdc.tr.dtr b::before {
  content: "";
  width: 5px;
  height: 1px;
  left: 12px;
  top: 17px;
  position: absolute;
  background: black;
  -moz-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.sc2tog::before {
  content: "";
  width: 18px;
  height: 1px;
  left: 0px;
  top: 12px;
  position: absolute;
  background: black;
  -moz-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sc2tog::after {
  content: "";
  width: 18px;
  height: 1px;
  left: 9px;
  top: 12px;
  position: absolute;
  background: black;
  -moz-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.box.sc2tog i::before {
  content: "";
  width: 6px;
  height: 1px;
  left: 5px;
  top: 14px;
  position: absolute;
  background: black;
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.box.sc2tog i::after {
  content: "";
  width: 6px;
  height: 1px;
  left: 16px;
  top: 14px;
  position: absolute;
  background: black;
  -moz-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.box.sc2tog.sc3tog b::before {
  content: "";
  width: 16px;
  height: 1px;
  left: 5px;
  top: 13px;
  position: absolute;
  background: black;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.box.sc2tog.sc3tog b::after {
  content: "";
  width: 5px;
  height: 1px;
  left: 11px;
  top: 17px;
  position: absolute;
  background: black;
}

.box.dc2tog.sc2tog i::before {
  content: "";
  width: 6px;
  height: 1px;
  left: 5px;
  top: 14px;
  position: absolute;
  background: black;
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.box.sc2tog.dc2tog i::before {
  content: "";
  width: 6px;
  height: 1px;
  left: 5px;
  top: 14px;
  position: absolute;
  background: black;
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.box.sc2tog.dc2tog i::after {
  content: "";
  width: 6px;
  height: 1px;
  left: 16px;
  top: 14px;
  position: absolute;
  background: black;
  -moz-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.box.sc2tog.dc2tog b::before {
  content: "";
  width: 9px;
  height: 1px;
  left: 9px;
  top: 4px;
  position: absolute;
  background: black;
}

.dc3tog {
}

.tdccluster {
}

.thdccluster {
}

.fdcpop {
}

.ch3picot {
}

.fpdc {
}

.bpdc {
}

.blo {
}

.flo {
}
