.box {
  width: 30px;
  height: 30px;
  background: white;
  margin: auto;
  position: relative;
  border: solid;
  border-width: 1px;
}

.ch::before {
  content: "";
  width: 15px;
  height: 7px;
  left: 7px;
  top: 10px;
  position: absolute;
  border: solid;
  border-width: 2px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.slst::after {
  content: "";
  width: 6px;
  height: 6px;
  background: black;
  left: 11px;
  top: 11px;
  position: absolute;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.sc::before {
  content: "";
  width: 8px;
  height: 8px;
  border-top: solid 1px black;
  border-left: solid 1px black;
  left: 10px;
  top: 14px;
  position: absolute;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sc::after {
  content: "";
  width: 8px;
  height: 8px;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
  left: 10px;
  top: 4px;
  position: absolute;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hdc:before {
  content: "";
  width: 6px;
  height: 15px;
  border-top: solid 1px black;
  border-left: solid 1px black;
  left: 14px;
  top: 6px;
  position: absolute;
}

.hdc::after {
  content: "";
  width: 6px;
  height: 15px;
  border-top: solid 1px black;
  border-right: solid 1px black;
  left: 9px;
  top: 6px;
  position: absolute;
}

.hdc.dc i::before {
  content: "";
  width: 5px;
  height: 1px;
  left: 12px;
  top: 12px;
  position: absolute;
  background: black;
  -moz-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.hdc.tr i::before {
  content: "";
  width: 5px;
  height: 1px;
  left: 12px;
  top: 11px;
  position: absolute;
  background: black;
  -moz-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.hdc.tr i::after {
  content: "";
  width: 5px;
  height: 1px;
  left: 12px;
  top: 14px;
  position: absolute;
  background: black;
  -moz-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.hdc.tr.dtr b::before {
  content: "";
  width: 5px;
  height: 1px;
  left: 12px;
  top: 17px;
  position: absolute;
  background: black;
  -moz-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.sc2tog::before {
  content: "";
  width: 18px;
  height: 1px;
  left: 0px;
  top: 12px;
  position: absolute;
  background: black;
  -moz-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sc2tog::after {
  content: "";
  width: 18px;
  height: 1px;
  left: 9px;
  top: 12px;
  position: absolute;
  background: black;
  -moz-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sc2tog i::before {
  content: "";
  width: 6px;
  height: 1px;
  left: 5px;
  top: 14px;
  position: absolute;
  background: black;
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sc2tog i::after {
  content: "";
  width: 6px;
  height: 1px;
  left: 16px;
  top: 14px;
  position: absolute;
  background: black;
  -moz-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sc2tog.sc3tog b::before {
  content: "";
  width: 16px;
  height: 1px;
  left: 5px;
  top: 13px;
  position: absolute;
  background: black;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sc2tog.sc3tog b::after {
  content: "";
  width: 5px;
  height: 1px;
  left: 11px;
  top: 17px;
  position: absolute;
  background: black;
}

.dc2tog.sc2tog i::before {
  content: "";
  width: 6px;
  height: 1px;
  left: 5px;
  top: 14px;
  position: absolute;
  background: black;
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sc2tog.dc2tog i::before {
  content: "";
  width: 6px;
  height: 1px;
  left: 5px;
  top: 14px;
  position: absolute;
  background: black;
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sc2tog.dc2tog i::after {
  content: "";
  width: 6px;
  height: 1px;
  left: 16px;
  top: 14px;
  position: absolute;
  background: black;
  -moz-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sc2tog.dc2tog b::before {
  content: "";
  width: 9px;
  height: 1px;
  left: 9px;
  top: 4px;
  position: absolute;
  background: black;
}

.sc2tog.dc2tog.dc3tog u::before {
  content: "";
  width: 16px;
  height: 1px;
  left: 5px;
  top: 13px;
  position: absolute;
  background: black;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sc2tog.dc2tog.dc3tog u::after{
  content: "";
  width: 5px;
  height: 1px;
  left: 11px;
  top: 17px;
  position: absolute;
  background: black;
}

.tdccluster::before {
  content: "";
  width: 13px;
  height: 1px;
  left: 7px;
  top: 5px;
  position: absolute;
  background: black;
}

.tdccluster::after {
  content: "";
  width: 16px;
  height: 1px;
  left: 5px;
  top: 13px;
  position: absolute;
  background: black;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.tdccluster i::before {
  content: "";
  width: 6px;
  height: 16px;
  left: 15px;
  top: 6px;
  position: absolute;
  border: solid 1px black;
  border-left: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
}

.tdccluster i::after {
  content: "";
  width: 6px;
  height: 16px;
  left: 6px;
  top: 6px;
  position: absolute;
  border: solid 1px black;
  border-right: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
}

.tdccluster b::before {
  content: "";
  width: 6px;
  height: 1px;
  left: 4px;
  top: 14px;
  position: absolute;
  background: black;
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.tdccluster b::after {
  content: "";
  width: 6px;
  height: 1px;
  left: 17px;
  top: 14px;
  position: absolute;
  background: black;
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.tdccluster u::before {
  content: "";
  width: 6px;
  height: 1px;
  left: 10px;
  top: 14px;
  position: absolute;
  background: black;
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.fdcpop::before {
  content: "";
  width: 15px;
  height: 3px;
  left: 6px;
  top: 3px;
  position: absolute;
  border: solid;
  border-top: 0;
  border-width: 1px;
  border-bottom-left-radius: : 50%;
  border-bottom-right-radius: : 50%;
  -moz-border-radius-bottomleft: 50%;
  -moz-border-radius-bottomright: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
}

.fdcpop::after {
  content: "";
  width: 1px;
  height: 17px;
  left: 13px;
  top: 5px;
  background: black;
  position: absolute;
}

.fdcpop i::before {
  content: "";
  width: 18px;
  height: 5px;
  left: 0px;
  top: 12px;
  position: absolute;
  border: solid;
  border-top: 0;
  border-width: 1px;
  border-bottom-left-radius: : 50%;
  border-bottom-right-radius: : 50%;
  -moz-border-radius-bottomleft: 50%;
  -moz-border-radius-bottomright: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fdcpop i::after {
  content: "";
  width: 18px;
  height: 5px;
  left: 9px;
  top: 12px;
  position: absolute;
  border: solid;
  border-top: 0;
  border-width: 1px;
  border-bottom-left-radius: : 50%;
  border-bottom-right-radius: : 50%;
  -moz-border-radius-bottomleft: 50%;
  -moz-border-radius-bottomright: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fdcpop b::before {
  content: "";
  width: 18px;
  height: 3px;
  left: 2px;
  top: 13px;
  position: absolute;
  border: solid;
  border-top: 0;
  border-width: 1px;
  border-bottom-left-radius: : 50%;
  border-bottom-right-radius: : 50%;
  -moz-border-radius-bottomleft: 50%;
  -moz-border-radius-bottomright: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fdcpop b::after {
  content: "";
  width: 18px;
  height: 3px;
  left: 7px;
  top: 13px;
  position: absolute;
  border: solid;
  border-top: 0;
  border-width: 1px;
  border-bottom-left-radius: : 50%;
  border-bottom-right-radius: : 50%;
  -moz-border-radius-bottomleft: 50%;
  -moz-border-radius-bottomright: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fdcpop u::before {
  content: "";
  width: 5px;
  height: 1px;
  left: 4px;
  top: 15px;
  position: absolute;
  border: solid;
  border-top: 0;
  border-width: 1px;
  border-bottom-left-radius: : 50%;
  border-bottom-right-radius: : 50%;
  -moz-border-radius-bottomleft: 50%;
  -moz-border-radius-bottomright: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -moz-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

.fdcpop u::after {
  content: "";
  width: 5px;
  height: 1px;
  left: 18px;
  top: 15px;
  position: absolute;
  border: solid;
  border-top: 0;
  border-width: 1px;
  border-bottom-left-radius: : 50%;
  border-bottom-right-radius: : 50%;
  -moz-border-radius-bottomleft: 50%;
  -moz-border-radius-bottomright: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -moz-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

.fdcpop del::before {
  content: "";
  width: 5px;
  height: 1px;
  left: 8px;
  top: 15px;
  position: absolute;
  border: solid;
  border-top: 0;
  border-width: 1px;
  border-bottom-left-radius: : 50%;
  border-bottom-right-radius: : 50%;
  -moz-border-radius-bottomleft: 50%;
  -moz-border-radius-bottomright: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -moz-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

.fdcpop del::after {
  content: "";
  width: 5px;
  height: 1px;
  left: 14px;
  top: 15px;
  position: absolute;
  border: solid;
  border-top: 0;
  border-width: 1px;
  border-bottom-left-radius: : 50%;
  border-bottom-right-radius: : 50%;
  -moz-border-radius-bottomleft: 50%;
  -moz-border-radius-bottomright: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -moz-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

.fdcpop ins::before {
  content: "";
  width: 5px;
  height: 1px;
  left: 11px;
  top: 15px;
  position: absolute;
  border: solid;
  border-top: 0;
  border-width: 1px;
  border-bottom-left-radius: : 50%;
  border-bottom-right-radius: : 50%;
  -moz-border-radius-bottomleft: 50%;
  -moz-border-radius-bottomright: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -moz-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

.fdcshell::before {
  content: "";
  width: 1px;
  height: 14px;
  left: 20px;
  top: 10px;
  background: black;
  position: absolute;
  -moz-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
}

.fdcshell::after {
  content: "";
  width: 1px;
  height: 14px;
  left: 7px;
  top: 10px;
  background: black;
  position: absolute;
  -moz-transform: rotate(145deg);
  -webkit-transform: rotate(145deg);
  -ms-transform: rotate(145deg);
  transform: rotate(145deg);
}

.fdcshell i::before {
  content: "";
  width: 1px;
  height: 14px;
  left: 17px;
  top: 8px;
  background: black;
  position: absolute;
  -moz-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}

.fdcshell i::after {
  content: "";
  width: 1px;
  height: 14px;
  left: 11px;
  top: 8px;
  background: black;
  position: absolute;
  -moz-transform: rotate(160deg);
  -webkit-transform: rotate(160deg);
  -ms-transform: rotate(160deg);
  transform: rotate(160deg);
}

.fdcshell b::before {
  content: "";
  width: 1px;
  height: 14px;
  left: 14px;
  top: 4px;
  background: black;
  position: absolute;
}

.fdcshell b::after {
  content: "";
  width: 5px;
  height: 1px;
  left: 12px;
  top: 4px;
  background: black;
  position: absolute;
}

.fdcshell u::before {
  content: "";
  width: 5px;
  height: 1px;
  left: 6px;
  top: 7px;
  background: black;
  position: absolute;
  -moz-transform: rotate(160deg);
  -webkit-transform: rotate(160deg);
  -ms-transform: rotate(160deg);
  transform: rotate(160deg);
}

.fdcshell u::after {
  content: "";
  width: 5px;
  height: 1px;
  left: 18px;
  top: 7px;
  background: black;
  position: absolute;
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.fdcshell del::before {
  content: "";
  width: 5px;
  height: 1px;
  left: 1px;
  top: 11px;
  background: black;
  position: absolute;
  -moz-transform: rotate(160deg);
  -webkit-transform: rotate(160deg);
  -ms-transform: rotate(160deg);
  transform: rotate(160deg);
}

.fdcshell del::after {
  content: "";
  width: 5px;
  height: 1px;
  left: 22px;
  top: 11px;
  background: black;
  position: absolute;
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.fdcshell ins::before {
  content: "";
  width: 3px;
  height: 1px;
  left: 5px;
  top: 16px;
  background: black;
  position: absolute;
  -moz-transform: rotate(160deg);
  -webkit-transform: rotate(160deg);
  -ms-transform: rotate(160deg);
  transform: rotate(160deg);
}

.fdcshell ins::after {
  content: "";
  width: 3px;
  height: 1px;
  left: 20px;
  top: 16px;
  background: black;
  position: absolute;
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.fdcshell big::before {
  content: "";
  width: 3px;
  height: 1px;
  left: 9px;
  top: 13px;
  background: black;
  position: absolute;
  -moz-transform: rotate(160deg);
  -webkit-transform: rotate(160deg);
  -ms-transform: rotate(160deg);
  transform: rotate(160deg);
}

.fdcshell big::after {
  content: "";
  width: 3px;
  height: 1px;
  left: 16px;
  top: 13px;
  background: black;
  position: absolute;
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.fdcshell small::before {
  content: "";
  width: 3px;
  height: 1px;
  left: 13px;
  top: 11px;
  background: black;
  position: absolute;
}

.ch3picot {
}

.fpdc {
}

.bpdc {
}

.blo {
}

.flo {
}
