.box {
  width: 30px;
  height: 30px;
  background: white;
  left: 0px;
  top: 0px;
  position: relative;
  border: solid;
  border-width: 1px;
}

.knit::after {
}

.purl::after {
  content: "";
  width: 6px;
  height: 6px;
  background: black;
  left: 11px;
  top: 11px;
  position: absolute;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.yo::before {
  content: "";
  width: 18px;
  height: 18px;
  background: black;
  left: 5px;
  top: 5px;
  position: absolute;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}

.yo::after {
  content: "";
  width: 16px;
  height: 16px;
  background: white;
  left: 6px;
  top: 6px;
  position: absolute;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.k2tog::before {
  content: "";
  width: 20px;
  height: 1px;
  background: black;
  left: 4px;
  top: 13px;
  position: absolute;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.p2tog::before {
  content: "";
  width: 20px;
  height: 1px;
  background: black;
  left: 4px;
  top: 13px;
  position: absolute;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.p2tog::after {
  content: "";
  width: 6px;
  height: 6px;
  background: black;
  left: 6px;
  top: 6px;
  position: absolute;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.ssk::before {
  content: "";
  width: 20px;
  height: 1px;
  background: black;
  left: 4px;
  top: 14px;
  position: absolute;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ssp::before {
  content: "";
  width: 20px;
  height: 1px;
  background: black;
  left: 4px;
  top: 14px;
  position: absolute;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ssp::after {
  content: "";
  width: 6px;
  height: 6px;
  background: black;
  left: 16px;
  top: 6px;
  position: absolute;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

}

.k1fb::before {
  content: "";
  width: 20px;
  height: 1px;
  background: black;
  left: 5px;
  top: 14px;
  position: absolute;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.k1fb::after {
  content: "";
  width: 13px;
  height: 1px;
  background: black;
  left: 4px;
  top: 10px;
  position: absolute;
  -moz-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

.mkk::after {
  content: "M";
  left: 7px;
  top: 1px;
  position: absolute;
}

.mpp::after {
  content: "MP";
  left: 3px;
  top: 1px;
  position: absolute;
}

.rsm::after {
  content: "MR";
  left: 2px;
  top: 1px;
  position: absolute;
}

.lsm::after {
  content: "ML";
  left: 3px;
  top: 1px;
  position: absolute;
}

.rsli::before {
  content: "";
  width: 10px;
  height: 2px;
  background: black;
  left: 5px;
  top: 13px;
  position: absolute;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rsli::after {
  content: "";
  width: 13px;
  height: 2px;
  background: black;
  left: 8px;
  top: 13px;
  position: absolute;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.lsli::before {
  content: "";
  width: 10px;
  height: 2px;
  background: black;
  left: 14px;
  top: 13px;
  position: absolute;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.lsli::after {
  content: "";
  width: 13px;
  height: 2px;
  background: black;
  left: 8px;
  top: 13px;
  position: absolute;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slpwyb::before {
  content: "";
  width: 12px;
  height: 1px;
  background: black;
  left: 10px;
  top: 13px;
  position: absolute;
  -moz-transform: rotate(115deg);
  -webkit-transform: rotate(115deg);
  -ms-transform: rotate(115deg);
  transform: rotate(115deg);
}

.slpwyb::after {
  content: "";
  width: 12px;
  height: 1px;
  background: black;
  left: 5px;
  top: 13px;
  position: absolute;
  -moz-transform: rotate(65deg);
  -webkit-transform: rotate(65deg);
  -ms-transform: rotate(65deg);
  transform: rotate(65deg);
}

.slpwyf::before {
  content: "";
  width: 12px;
  height: 1px;
  background: black;
  left: 10px;
  top: 13px;
  position: absolute;
  -moz-transform: rotate(115deg);
  -webkit-transform: rotate(115deg);
  -ms-transform: rotate(115deg);
  transform: rotate(115deg);
}

.slpwyf {
  background: linear-gradient(to right, white 10%, transparent, white 85%),
              linear-gradient(to bottom, white 50%, black 50%, white 60%);
}

.slpwyf::after {
  content: "";
  width: 12px;
  height: 1px;
  background: black;
  left: 5px;
  top: 13px;
  position: absolute;
  -moz-transform: rotate(65deg);
  -webkit-transform: rotate(65deg);
  -ms-transform: rotate(65deg);
  transform: rotate(65deg);
}

.k3tog {}

.p3tog {}

.sk2p {}

.sssp {}

.s2kp2 {}

.k1tbl {}

.p1tbl {}

.bobble {}

.nost::after {
  content: "";
  width: 28px;
  height: 28px;
  background: gainsboro;
  left: 0px;
  top: 0px;
  position: absolute;
}

.inc1to3 {}

.inc1to4 {}

.inc1to5 {}

.dec4to1rs {}

.dec4to1ls {}

.dec4to1cen {}

.dec5to1 {}

.k1yo2 {}

.strn {}

.caston {}
